.card {
    display: flex;
    flex-direction: column;
    width: 12cm;
    border: 1px solid var(--color-text-opacity30);

    button {
        color: inherit;
        background-color: inherit;
    }
}

.input-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0 25px 0px 25px;
    background-color: inherit;
    color: inherit;

    input,
    textarea {
        color: inherit;
        background-color: inherit;
    }
}

.card-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.card-button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 500;
    border: 0;
    padding: 25px;


}

.label {
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}