.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 12cm;
    border-radius: 10px;
    padding: 5px;
}

.input-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 0 25px 0px 25px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: 600;

}

.card-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 5px;
    cursor: pointer;
    font-weight: 500;
    border: 0;
    padding: 25px;
}



.label {
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}