.customize {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.customize-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.layout-options,
.font-options {
    display: flex;


    button {
        margin: 0 0.5rem;
        background-color: initial;
        border: none;
        cursor: pointer;
    }
}

.custom-setting {
    border: 1px solid var(--color);
    border-radius: 5px;
    padding: 24px;
}



.top-layout {
    background: linear-gradient(180deg, black 50%, #fff 50%);
}

.left-layout {
    background: linear-gradient(90deg, black 50%, #fff 50%);
}

input[type="color"] {
    appearance: none;
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
}

.rounded-input::-webkit-color-swatch {
    border-radius: 50%;
}

.color-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.roboto-font {
    font-family: 'Roboto' !important;
}

.arial-font {
    font-family: 'Arial' !important;
}

.poppins-font {
    font-family: 'Poppins' !important;

}

.active-layout {
    border: 2px solid rgb(221, 71, 71) !important;
}

.button-title {
    color: var(--color);
    padding: 0.5rem;
}

.custom-font {
    display: flex;
    font-size: 14px;
}

.border-icon {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color);
    width: 75px;
    height: 75px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}