.cv-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-preview);
    height: auto;
    width: 900px;
    align-items: center;
    padding: 1cm 0;
}

.cv-print {
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    color: black;
}

.personal-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}


.personal-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.personal-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 25px;
    justify-content: center;
}

.experience-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 25px 25px 25px;
}

.education-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 25px 25px 25px;
}

.techstack-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: column;

    .personal-top {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 25px;
    }

    .personal-preview {
        color: white;
        background-color: #0e374e;
    }

    .techstack-preview {
        margin: 25px;
        background-color: white !important;
        color: black !important;
    }
}


.left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;

    .education-preview {
        grid-column: 2/3;
    }

    .experience-preview {
        margin-top: 25px;
    }

    .techstack-preview {
        grid-row: 2/3;
        color: white !important;
        background-color: #0e374e;
        padding: 25px;
    }

    .personal-preview {
        color: white;
        background-color: #0e374e;
        margin-bottom: 0;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
    }
}

.techstack-preview:not(.techstack-preview:has(.tech-stack)) {
    display: none;
}

.preview-image {
    width: 187px;
    height: 255px;
    margin-bottom: 10px;
}

.hide-image {
    display: none;
}