.cv-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-preview);
    height: auto;
    width: 900px;
    align-items: center;
    padding: 1cm 0;
}

.cv-print {
    width: 21cm;
    height: 29.7cm;
    padding: 1cm;
    background-color: white;
    color: black;
}

.personal-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.personal-preview h1 {
    text-align: center;
}

.personal-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
}

.experience-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.education-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.top {
    display: flex;
    flex-direction: column;
}


.left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .education-preview {
        grid-column: 2/3;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
    }
}