.cv-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-preview);
    height: auto;
    width: 700px;
    align-items: center;
}

.cv-print {
    width: 600px;
    height: 862.5px;
    padding: 15px;
    margin: 24px 0;
    background-color: white;
    color: black;
}

.personal-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.personal-preview h1 {
    text-align: center;
}

.personal-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
}

.experience-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.education-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}