.delete-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: hsla(0, 100%, 50%, 0.205);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 500;
    margin: 15px 0 15px auto;
}