.app {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "CVForm CVPreview";
    justify-content: space-evenly;
    gap:8px;
    margin: auto;
    max-width: 1500px;
    padding: 24px;
    width: 100%;
}