.app {
  display: grid;
  grid-template-areas: "cvForm cvPreview";
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
  gap: 32px;
  margin: auto;
  padding: 24px;
}

.cv-form {
  grid-area: cvForm;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 200px auto;
  gap: 24px;
  margin-bottom: 1rem;
  justify-self: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 200px;
}

.sidebar button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 30px 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar button.active {
  background: rgb(131, 58, 180);
  background: -webkit-linear-gradient(rgb(41, 137, 216, 0.5),
      rgb(221, 71, 71, 0.5));
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 12cm;
  grid-column: 2 / 3;
  border-radius: 10px;
}

.header-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px 24px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-wrap: nowrap;
  height: 200px;
  align-items: center;
  gap: 24px;
  width: 12cm;
}

.header-box h1 {
  background: -webkit-linear-gradient(rgb(41, 137, 216), rgb(221, 71, 71));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
}

.header-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column: -1 / 1;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dark-theme {
  background-color: #343a40;

  .header-box {
    background-color: #495057;
  }

  .header-box h1 {
    background: -webkit-linear-gradient(rgb(41, 137, 216, 0.5), rgb(221, 71, 71, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-button,
  .input-item input,
  .input-item textarea {
    background-color: #868e96;
  }

  .custom-button.active {
    background: rgb(131, 58, 180);
    background: -webkit-linear-gradient(rgb(41, 137, 216, 0.5),
        rgb(221, 71, 71, 0.5));
  }

  .switch input[type='checkbox']:checked+.slider {
    background-color: #868e96
  }

  .card,
  .card-button {
    background-color: #495057;
  }

  .dark-hr {
    border: #343a40 1px solid;
  }

  input:focus,
  textarea:focus {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px #343a40, -13px -13px 100px #495057;
  }

}